body {
  background-color: rgb(32, 32, 32);
}

.titulo {
  margin: 10vw auto;
  text-align: center;
  cursor: default;
  font-family: "Ubuntu Mono", monospace;
  transition: all 0.3s ease;
  color: rgb(224, 224, 224);
  font-size: 5rem;
  transition: all 0.3s ease;
  width: fit-content;
}
.titulo:hover {
  transform: scale(1.1);
  color: rgb(129, 22, 218);
}

.subtitulo {
  margin: 10vw auto;
  cursor: default;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  transition: all 0.3s ease;
  color: rgb(224, 224, 224);
  font-size: 2rem;
  transition: all 0.3s ease;
  width: fit-content;
}

.gradient {
  display: inline-block;
  cursor: default;
  transition: all 0.3s ease;
}
.gradient:hover {
  transform: translateY(-10px);
  color: #FFCA28;
}
