body {
    background-color: rgb(32, 32, 32);
}

.titulo{
    margin: 10vw auto;
    text-align: center;
    cursor: default;
    font-family: 'Ubuntu Mono', monospace;
    transition: all 0.3s ease;
    color:rgb(224, 224, 224);
    font-size:5rem;
    transition: all .3s ease;
    width: fit-content;
    &:hover {
        transform: scale(1.1);
        color:rgb(129, 22, 218);
    }
}

.subtitulo{
    margin: 10vw auto;
    cursor: default;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    transition: all 0.3s ease;
    color:rgb(224, 224, 224);
    font-size:2rem;
    transition: all .3s ease;
    width: fit-content;
}

.gradient {
    display: inline-block;
    cursor: default;
    transition: all .3s ease;
    &:hover {
        transform: translateY(-10px);
        color:#FFCA28;
    }
}

.centrar {
    display: flex; 
    justify-content: center;
}

button {
    all: unset;
    cursor: pointer;
    background-color: white;
    font-family: 'Ubuntu Mono', monospace;
    transition: all 0.3s ease;
    border-radius: 20%;
    padding: 1vw;
}

button:disabled {
    all: unset;
    background-color: rgba(187, 187, 187, 0.733);
    color:rgba(32, 32, 32, 0.733);
    font-family: 'Ubuntu Mono', monospace;
    transition: all 0.3s ease;
    border-radius: 20%;
    padding: 1vw;
}

.verde {
    all: unset;
    cursor: pointer;
    background-color: rgb(90, 240, 60);
    font-family: 'Ubuntu Mono', monospace;
    transition: all 0.3s ease;
    border-radius: 20%;
    padding: 1vw;
}