$cel: 960px;

body {
    margin: 0;
    padding: 1rem;
    background-color: hsl(250, 24%, 9%);
    color: hsl(0, 0%, 100%);
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu,
    roboto, noto, arial, sans-serif;
}

main {
    padding: 1rem;
    display: flex;
    align-items: center;
    background: rgba(85, 85, 85, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.wrap {
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100%;
}

h1 {
    font-size: 48px;
    margin: 1rem 0;
}

.logo {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
    border-radius: 20%;
}

p {
    line-height: 1.6;
}

a {
    color: hsl(270, 70%, 65%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}

.texto {
    display: flex;
    padding: 0.75rem;
    background: linear-gradient(45deg, rgb(0, 51, 128), #db50b1);
    min-width: 10vw;
    max-width: 20vw;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
    font-size: 1em;
    transition: all 0.3s ease;
    &:hover {
        animation: gradient 10s ease infinite;
        font-size: 1.25em;
        box-shadow: 0px 0px 20px rgba(66, 66, 66, 0.253);
    }
}

@keyframes gradient {
    50% {
        background-position: 100% 0;
    }
}

.titulo {
    font-weight: 600;
    color: rgb(223, 223, 223);
    margin: 0;
    @media (max-width: $cel) {
        font-size: 0.8em;
    }
}

.subt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(223, 223, 223);
    margin: 0;
    @media (max-width: $cel) {
        font-size: 0.6em;
    }
}
